html {
  font-size: calc(0.4em + 1vmin);
  height:100%;
}

body {
  background-color: #343838;
  color: #FFFFFF;
  overflow: hidden;
  height:100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

#app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    height: 40%;
    width: 50%;
    align-self: center;
    border: 3px solid green;
}
h1 {
}

